body {
  background-color: lightyellow;
}
h1 {
  color: white;
}
p {
  color: red;
  border: 1px solid powderblue;
  padding: 30px;
  margin: 50px;
}
#ma1 {
  color: green;
}
table {
  background-color: lightgreen;
  width: 80%;
  align-items: center;
  /* color: blue; */
  border: 2px solid green;
  border-spacing: 5px;
  /* border-collapse: collapse;  If the table has collapsed borders, border-spacing has no effect.*/
  padding: 20px;
  /* color: white;
  background-color: red;
  text-align: center; */
}
tr {
  height=1500px
}
td {
  background-color: pink;
  text-align: center;
}
caption {
  text-align: center;
}
